@model IEnumerable<otoservistakipprogrami2025.Models.ParcaKullanimi>

@{
    ViewData["Title"] = "Index";
}

<h1>Parça Kullanımları</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Kullanılan Parça Bilgisi Ekle</a>
    <a asp-controller="Admin" asp-action="Index" class="btn btn-outline-secondary">
        <i class="fas fa-arrow-left"></i> Admin Paneline Dön
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Miktar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirimFiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServisKaydi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Miktar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirimFiyat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parca.ParcaAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServisKaydi.GelisSebebi)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Düzenle</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Detaylar</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Sil</a>
                </td>

        </tr>
}
    </tbody>
</table>
