@model otoservistakipprogrami2025.Models.Parca

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Parca</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParcaKodu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParcaKodu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParcaAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParcaAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirimFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirimFiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StokMiktari)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StokMiktari)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Listeye geri dön</a>
</div>
